/* Ensure that the HTML and body take the full height */
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.login-container {
    display: flex;
    width: 100vw;
    /* Full viewport width */
    height: 100vh;
    /* Full viewport height */
}

.left {
    flex: 1;
    background-color: #f7f7f7;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.left p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}

.car-image {
    width: 80%;
    max-width: 400px;
    margin-top: 20px;
}

.right {
    flex: 1;
    background-color: #333;
    color: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right h2 {
    font-size: 2.2em;
    margin-bottom: 30px;
}

#login-form {
    width: 80%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

#login-form label {
    font-size: 0.9em;
    color: #aaa;
    margin-top: 15px;
}

#login-form input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    background-color: #444;
    color: white;
}

.password-container {
    position: relative;
}

.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
}

.forgot-password {
    color: #ff7f50;
    font-size: 0.9em;
    text-align: right;
    margin-top: 10px;
    text-decoration: none;
}

button[type="submit"] {
    width: 109%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #ff7f50;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #ff5733;
}